body {
    text-align: center;
    background: #04AA6D;
  }

  h1 {
    font-family: 'Mouse Memoirs', sans-serif;
    color: #fff;
    font-size: 58px;
  }

  label {
    font-family: 'Mouse Memoirs', sans-serif;
    padding: 0px 20px;
    font-size: 20px;
  }

  span {
    font-size: 23px;
  }